/* RED Academy Project 3 Basia Bodurov October 14, 2015 */

@import "variables", "reset", "fonts", "mixin";

/* Extra Resetting */

* {
   box-sizing: border-box;
}

/* Mobile first CSS */

html {
    font-size: $base-font-size;
	}

body {
	font-family: $body-font;
	line-height: $line-height;
    font-size: $base-font-size;
    color: $font-color;
	@include bp(tablet) {
		.wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	}
	.logo {
	width: 25%;
	margin-left: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
	}
	.insta-icon {
	width: 12%;
	padding-top: 10%;
	padding-bottom: 5%;
	margin-left: 44%;
	}
	form {
	width: 100%;
	margin-left: 36%;
	padding-bottom: 10%;
	}
	} 
	@include bp(desktop) {
	form {
	width: 100%;
	margin-left: 41%;
	padding-bottom: 7%;
	}
	.logo {
	width: 15%;
	margin-left: 2.5%;
	margin-top: 1%;
	margin-bottom: 1%;
	}
	.insta-icon {
	width: 10%;
	padding-top: 8%;
	padding-bottom: 3%;
	margin-left: 44%;
	}
	}
}

button {
    color: $button-color;
}

.header {
	width: 100%;
}

.logo {
	width: 35%;
	margin-left: 2%;
	margin-top: 3%;
	margin-bottom: 3%;
}

.search {
	background: url('../images/pattern.png') no-repeat center center fixed;
}

.insta-icon {
	width: 22%;
	padding-top: 20%;
	padding-bottom: 5%;
	margin-left: 39%;
}

form {
	width: 100%;
	margin-left: 25%;
	padding-bottom: 20%;
}

.fa-search {
	color: #C6C8C8;
	&:hover {
	color: #909393;	
	}
}

.wrap {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 100vh;
}

.pics {
	display: flex;
	flex-wrap: wrap;
	width: 300px;
	border: 2px solid #C6C8C8;
	margin: 10px 10px;
	justify-content: center; /* align horizontal */
img {
	width: 260px;
	margin-top: 5%;
}
}

p {
	font-weight: bold;
}

.profile {
	display:flex;
  	justify-content:space-between;

  	img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow:hidden;
	margin:1rem;
	}

	.img-bottom {
	display:flex;
  	flex-direction:row;
  	justify-content: center;
  	text-align:right;
  	font-weight: bold;
  	margin-top: 25px;
	}

	.fa {
		padding-right: 5px;
	}
}
